data/assessment.tsv
bumpus/
learning-r/
learning-sql/
.quarto/
**/*.quarto_ipynb
/.quarto/
first-r/
student-performance/
r-for-data-science/
nyc-open-data
postings/
_freeze/
.Rhistory
.Rprofile
.envrc
study-notes/
renv/
renv.lock
*~
docs/
data/
.vscode/
.venv/